@import "node_modules/normalize.css/normalize";
@import "colors";
@import "fonts";

body {
  font-family: $roboto;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $open-sans;
  font-weight: normal;
}

#container {
  height: 100vh;

  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
}

#container > header {
  grid-area: header;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  padding: 1em;

  #logo {
    display: inline-block;
    margin: 0;

    font-family: $raleway;
    font-weight: 800;
    font-style: italic;
  }

  a {
    color: black;
  }

  ul {
    display: inline-block;

    li {
      display: inline-block;
    }
  }
}

#container > main {
  grid-area: main;
  overflow: auto;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}