<header>
    {{ $currentPage := . }}
    {{ $social := .Site.Params.social }}
    <div id="header_left">
        <nav>
            {{ range .Site.Menus.main }}
                {{ if eq .URL "/" }}
                    <h1 id="logo">
                        <a href="{{ .URL }}">
                            chungman.kim
                        </a>
                    </h1>
                {{ else }}
                    <a href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                {{ end }}
            {{ end }}
        </nav>
    </div>
    <div id="header_right">
        {{ range $social }}
            <a href="{{ .url }}">
                {{ .name }}
            </a>
        {{ end }}
    </div>
</header>